python-dotenv
pydantic
requests
openapi-spec-validator
starlette
connexion[async,swagger-ui,uvicorn]
cryptography
setuptools
packaging
alembic
sqlalchemy
sqlmodel
aiosqlite
asyncio
aiohttp
aioftp
aiofiles
structlog
greenlet
langchain_community
langchain_chroma
langchain_openai
pypdf